.addImgEffect {
	overflow:hidden;
}
.addImgEffect img {
	/*transform: scale(1, 1); */
	transition-delay: 0s;
	transition-duration: 0.4s;
	transition-property: all;
	transition-timing-function: ease;
	
	-webkit-transition-delay: 0s;
	-webkit-transition-duration: 0.4s;
	-webkit-transition-property: all;
	-webkit-transition-timing-function: ease;
	
	-moz-transition-delay: 0s;
	-moz-transition-duration: 0.4s;
	-moz-transition-property: all;
	-moz-transition-timing-function: ease;
	
	-ms-transition-delay: 0s;
	-ms-transition-duration: 0.4s;
	-ms-transition-property: all;
	-ms-transition-timing-function: ease;	
	
	-o-transition-delay: 0s;
	-o-transition-duration: 0.4s;
	-o-transition-property: all;
	-o-transition-timing-function: ease;
}
.addImgEffect:hover img {
    /*-webkit-transform: scale(1.2,1.2) rotate(5deg);
    -moz-transform: scale(1.2,1.2) rotate(5deg);
    -ms-transform: scale(1.2,1.2) rotate(5deg);
    -o-transform: scale(1.2,1.2) rotate(5deg);
    transform: scale(1.2,1.2) rotate(5deg);*/
	-webkit-transform: scale(1.1,1.1);
    -moz-transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1);
    -o-transform: scale(1.1,1.1);
    transform: scale(1.1,1.1);
}
.transition-class, .banner-item {
	transition-delay: 0s;
	transition-duration: 2s;
	transition-property: all;
	transition-timing-function: ease;
	
	-webkit-transition-delay: 0s;
	-webkit-transition-duration: 2s;
	-webkit-transition-property: all;
	-webkit-transition-timing-function: ease;
	
	-moz-transition-delay: 0s;
	-moz-transition-duration: 2s;
	-moz-transition-property: all;
	-moz-transition-timing-function: ease;
	
	-ms-transition-delay: 0s;
	-ms-transition-duration: 2s;
	-ms-transition-property: all;
	-ms-transition-timing-function: ease;	
	
	-o-transition-delay: 0s;
	-o-transition-duration: 2s;
	-o-transition-property: all;
	-o-transition-timing-function: ease;
}
.move {
	transition-delay: 0s;
	transition-duration: 3s;
	transition-property: all;
	transition-timing-function: ease;
	
	-webkit-transition-delay: 0s;
	-webkit-transition-duration:  3s;
	-webkit-transition-property: all;
	-webkit-transition-timing-function: ease;
	
	-moz-transition-delay: 0s;
	-moz-transition-duration:  3s;
	-moz-transition-property: all;
	-moz-transition-timing-function: ease;
	
	-ms-transition-delay: 0s;
	-ms-transition-duration: 3s;
	-ms-transition-property: all;
	-ms-transition-timing-function: ease;	
	
	-o-transition-delay: 0s;
	-o-transition-duration:  3s;
	-o-transition-property: all;
	-o-transition-timing-function: ease;
}
.transition-class-1,
a,
input[type="submit"],
input[type="button"],
button,
.logo-2 img,
.search,
.service-tab,
.service-tab:after,
.service-item {
	transition-delay: 0s;
	transition-duration: 0.4s;
	transition-property: all;
	transition-timing-function: ease;
	
	-webkit-transition-delay: 0s;
	-webkit-transition-duration:  0.4s;
	-webkit-transition-property: all;
	-webkit-transition-timing-function: ease;
	
	-moz-transition-delay: 0s;
	-moz-transition-duration:  0.4s;
	-moz-transition-property: all;
	-moz-transition-timing-function: ease;
	
	-ms-transition-delay: 0s;
	-ms-transition-duration: 0.4s;
	-ms-transition-property: all;
	-ms-transition-timing-function: ease;	
	
	-o-transition-delay: 0s;
	-o-transition-duration:  0.4s;
	-o-transition-property: all;
	-o-transition-timing-function: ease;
}
.transition-class-1.delay,
.who-is-behind-item:hover .content-over .imgTable {
	transition-delay: 0.4s;
	-webkit-transition-delay: 0.4s;
	-moz-transition-delay: 0.4s;
	-ms-transition-delay: 0.4s;	
	-o-transition-delay: 0.4s;
}